body{
/*font-family: ' Playfair Display ', serif;*/
font-family: 'Ubuntu';
padding: 0;
margin: 0;
position:relative;
max-width:1440px;
margin: 0 auto;
background: #1155A6;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

header{
padding-bottom: 0px;
}

header.container{
    width: 930px;
    margin: 0 auto;  
}

.glav{
   position: absolute;
   width: 240px;
   height: 240px;
   left: 246px;
   top: 120px;
}

.fon_img #glavBig{
	width:50%; 
}


.glavBig{
    width:500px;
    display:inline-block;
    position: absolute;
    left: 980px;
    height: 700px;
}

.title_text{
    color: #FFF;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight:lighter;
}

nav{
    float: center;
    margin-top: 0px; 
}

.menu {
    width: 788px;
    height: 50px;
    left: 574px;
    top: 30px;
    word-spacing: 10px;
}

.menu ul{
    list-style-type: none;
    float: right;
}

.menu li{
    display: inline-block;
    margin-right:90px;
}
 
.menu a{
    text-decoration: none; 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #FFF;
}


.exit{
    width: 30px;
    height: 30px;
    top: 9px;
    left: 1370px;
    display:inline-block;
    position: absolute;
    flex-shrink: 0;
}


hr {
    width: 100%;
    height: 1px;
    background: #FFF;
}

label{
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 80px;
    border: 2px solid #FFF;
    background: #1155A6;
    top: 200px;
    left: 50px;
    padding: 25px;
}

.titles_text{
    color: #FFF;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight:lighter;
    position: absolute;
    margin-top: 50px;
    left: 200px;
}

.titles_text a{ 
    width: 293px;
    height: 150px;
}

.docs{
    position: absolute;  
}


.docs ul{
    text-decoration: none; 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #FFF;
    line-height: 20px;
    justify-content: space-between;
    display: flex;
    position: relative;

}

/*.docs li{
    list-style-type: none;
    text-decoration: none; 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
    text-align: right;   
}*/

.tab input{
 display: none;
}

.list{
    display: none;
}

.tab{

}

.tab-title::after{
    content: '+';
}

.tab :checked + .tab-title{
   
}

.tab :checked + .tab-title::after{
    content: '-';
}

.tab :checked - .list{
     display: block;
}


